@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --primary-color:#007bff;
    --hover-color:#fff;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
    font-size: 1.2rem;
    background-color: #ffe818;

}

section{
    height: 100vh;
    display: flex;
    align-items: center;
}

.my-navbar{
    padding: 0.5rem 0 0.5rem 0;
    background: transparent;
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
}

.bg-light{
    background-color: black !important;
}

.my-navbar .navbar-brand{
    color: #ffe818;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand:hover{
    color: #ffe818 !important;
}

.my-navbar .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 232, 24)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.my-navbar a{   
    color: #ffe818;
    padding:15px;
    text-decoration: none;
}

.my-navbar .hover-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#ffe818 !important;
    transition: width .3s;
}

.my-navbar .hover-link:hover::after {
    width: 100%;
}


#home{
    display: grid;
    padding-top: 5em;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

#home img{
    border-radius: 50%;
    width: 250px;
}

.home-icon{
    margin:0 10px 3px 0;
}

#home .tecs{
    margin-top: 5em;
    padding: 2em;
    border:1px solid gray;
    border-radius: 10px;
}

#home .icons{
    margin:3em 1em;
    display: flex;
    list-style: none;
    justify-content: space-between;

}

.container{
    text-align: center;
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .container{
    background-color: #343a40;
    border-radius: 0.9em;
    color:#fff;
    padding: 3em 1em;
    width: 60%;
}

#about h1, h4{
    margin:15px;
    color:#cf5050;
}

#contact ul{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 1.5em;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#contact ul a{
    color:black;
    text-decoration: none;
}

#contact .box{
    border:1px solid;
    padding: 2em;
    border-radius: 0.9em;
}

#contact .git:hover{
    background-color: #ffbc4b;
}

#contact .twt:hover{
    background-color: #3e8ef1;
}

#contact .linkd:hover{
    background-color:#ffd0d5;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    color:white;
    text-align: center;
    padding:2rem
}

.footer ul{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.footer li{
    padding: 0 30px 0 30px;
}

.bg-blue{
    color:white;
    color:#3e8ef1 !important;
}

article .card{
    margin-top:30px !important;
    width: 100%;
}

article .card:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width:920px){
    .navbar-brand{
        font-size: 0.9em;
        padding:10px;
        transition: .5s;/*Kucuk ekranda yavasca padding kuculecek*/
    }
    /*Mobilde alt cizgiler gorunmesin*/
    .my-navbar .hover-link:hover::after {
        width: 0;
    }

    footer p{
        font-size: 1rem;
        transition: .5s;/*Kucuk ekranda yavasca padding kuculecek*/
    }
    footer li{
        padding: 0 5px 0 5px;
        transition: .5s; /*Kucuk ekranda yavasca padding kuculecek*/
    }
}


@media(max-width:640px){
    #contact ul{
        display: flex;
        flex-direction: column;
        justify-self: center;
        transition: .3s;
    }

    .box{
        margin-top: 1em;
        justify-self: center;
        width: 100%;
    }

    #about .container{
        width: 80%;
    }
}