@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#__next-prerender-indicator {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6rem;
  font-size: 1.2rem;
  background-color: #ffe818;
}

.my-navbar {
  padding: 0.5rem 0 0.5rem 0;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}
.my-navbar .navbar-brand {
  color: #ffe818;
  font-weight: bold;
  text-transform: uppercase;
}
.my-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 232, 24)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.my-navbar a {
  color: #ffe818;
  padding: 15px;
  text-decoration: none;
}
.my-navbar .hover-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffe818 !important;
  transition: width 0.3s;
}
.my-navbar .hover-link:hover::after {
  width: 100%;
}

.bg-light {
  background-color: black !important;
}

.navbar-brand {
  font-size: 0.9em;
  padding: 10px;
  transition: 0.5s;
}
.navbar-brand:hover {
  color: #ffe818 !important;
}

#home .top {
  padding-top: 5em;
  height: 100vh;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}
#home img {
  border-radius: 0.9em;
}
#home .tecs {
  margin: 5em 0;
  padding: 2em;
  border: 1px solid gray;
  border-radius: 10px;
}
#home .tecs:hover {
  box-shadow: 0px 0px 30px 0px #79839494;
}
#home .icons {
  display: flex;
  font-size: 4em;
  padding: 1em 0;
  list-style: none;
  justify-content: space-between;
  font-size: 4em;
  padding: 0;
}
#home ul li:nth-child(1):hover {
  color: #cf5050;
}
#home ul li:nth-child(2):hover {
  color: #007bff;
}
#home ul li:nth-child(3):hover {
  color: #ffbc4b;
}
#home ul li:nth-child(4):hover {
  color: #a4c9d8;
}
#home ul li:nth-child(5):hover {
  color: red;
}
#home .works {
  background-color: black;
  color: #ffe818;
  font-size: 0.9em;
}
#home .works h3 {
  padding: 2em;
}
#home .works h4 {
  color: #cf5050;
  padding: 2em;
}
#home .works p {
  color: #fff;
  padding: 10px;
  font-size: 1em;
}

.home-icon {
  margin: 0 10px 3px 0;
}

.container {
  text-align: center;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .container {
  background-color: #343a40;
  border-radius: 0.9em;
  color: #fff;
  padding: 3em 1em;
  width: 60%;
  width: 80%;
}
#about .container:hover {
  box-shadow: 0px 0px 30px 0px #79839494;
}

#about h1,
h4 {
  margin: 15px;
  color: #cf5050;
}

#contact {
  height: 100vh;
  background-color: black;
}
#contact .container {
  color: #fff;
}
#contact ul {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 1.5em;
  list-style: none;
  justify-content: center;
  align-items: center;
}
#contact ul a {
  color: #fff;
  text-decoration: none;
}
#contact ul a:hover {
  color: black;
}
#contact .box {
  border: 1px solid;
  padding: 2em;
  border-radius: 0.9em;
}
#contact .box:hover {
  box-shadow: 0px 0px 30px 0px #79839494;
}
#contact .git:hover {
  background-color: #ffbc4b;
}
#contact .twt:hover {
  background-color: #3e8ef1;
}
#contact .linkd:hover {
  background-color: #ffd0d5;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  padding: 2rem;
}
.footer ul {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
.footer li {
  padding: 0 30px 0 30px;
}

.bg-blue {
  color: white;
  color: #3e8ef1 !important;
}

article .card {
  margin-top: 30px !important;
  width: 100%;
}
article .card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 920px) {
  #home .top {
    padding-top: 1em;
  }
  #home .tecs ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 640px) {
  #home .my-link:hover::after {
    width: 0;
  }

  #contact ul {
    display: flex;
    flex-direction: column;
    justify-self: center;
    transition: 0.3s;
  }
  #contact .box {
    margin-top: 1em;
    justify-self: center;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
